*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
}