*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
header{
    display: flex;
    background-color: peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.myntra_home{
    height: 45px;
}
.logo_container{
    margin-left: 2%;
}
.action_bar{
    margin-right: 2%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar{

}
.search_icon{

}
.search_input{
    
}